################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/D3D12-HookLite/x64/Release
